#####################################################################
#   Extruder
#####################################################################

##      In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
max_extrude_only_distance: 200
##      Update value below when you perform extruder calibration
##      If you ask for 100mm of filament, but in reality it is 98mm:
##      rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511  #Bondtech 5mm Drive Gears
#rotation_distance: 21.700
#Jasrags distance:
#rotation_distance: 21.39731821
#e3v2 distance(calculated one for tl bmg v2)
rotation_distance: 22.598
gear_ratio: 50:17                               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PB15
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 180
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##      Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2" <---
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
