#####################################################################
#       Main printer configuration
#####################################################################
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000
max_accel_to_decel: 2000
max_z_velocity: 20
max_z_accel: 350
square_corner_velocity: 8.0

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[gcode_arcs]
resolution: 0.05

[idle_timeout]
gcode:
    {% if printer.webhooks.state == "ready" %}
        {action_respond_info("POWER: Execute Idle Timeout")}
        TURN_OFF_HEATERS
        M84
        LED_OFF
    {% endif %}
timeout: 7200  # 2 hours

[save_variables]
filename: ~/klipper_config/saved_variables.cfg

